  
  * {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
              border:1px solid blue;

    }
  body {
      margin: 0;
      font-size: 1em;
    }

  .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 20px;
  }

   table{
    font-size: 5em;
   }
   #no1{
    color: red;
   }
   #no2{
    color: blue;
   }
   input{
    width: 200px;
    border-color: red;
   }
   #no3{
    font-size: 0.5em;
   }
   #check{
    background-color: orange;

   }
   button{
    margin: 20px 20px;
   }
   a{
    font-size: 3em;
    background-color: hotpink;
    font-color: white;
   
   }